body,html {
    background:#ddd;
}

#main {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    background:#fff;
    border-radius: 1rem;
}

#result {
    background: #eee;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem 0;
}